<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <properties>
    <property name="aa" value="1111"/>
  </properties>

  <settings>
    <setting name="cacheEnabled" value="true"/>
    <!--缓存级别：SESSION/STATEMENT-->
    <setting name="localCacheScope" value="STATEMENT"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC">
        <!--JDBC没有property-->
        <!--<property name="" value=""/>-->
      </transactionManager>

      <dataSource type="UNPOOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://127.0.0.1:3306/test?useSSL=false&amp;characterEncoding=utf-8&amp;serverTimezone=Asia/Shanghai&amp;zeroDateTimeBehavior=convertToNull&amp;useUnicode=true&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useAffectedRows=true"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- 这种写法需要Mapper接口和Mapper.xml在同一目录且名字保持一致   -->
    <package name="org.apache.ibatis.mytest.mapper"/>
    <!--    <mapper resource="org/apache/ibatis/mytest/mapper/UserMapper.xml"></mapper>-->
  </mappers>

</configuration>
